@using AutoRia.Core.Entities.User;
@using Microsoft.AspNetCore.Identity;
@using AutoRia.Core.Dto_s.Post;

@model PostDto
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var email = await UserManager.GetEmailAsync(user);
}
<!-- Navbar -->

<nav class="navbar navbar-expand-lg  bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0 logotext" asp-action="Index">
                Task Manager
            </a>

        </div>
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <!-- Avatar -->

            <a asp-action="Profile" asp-route-id="@user.Id" class="btn btn-outline-primary m-1">Profile</a>
            <a asp-action="Logout" class="btn btn-outline-primary m-1">Log Out</a>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
@*<div class="container">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="">
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">

                                    <div class="mb-md-5 mt-md-4 pb-5">

                                        <h2 class="fw-bold mb-2 text-uppercase">Add Task</h2>
                                        <form method="post" asp-action="Edit">
                                            <div class="form-outline form-white mb-4">
                                                <input value="@user.Id" type="hidden" name="Id" asp-for="@Model.UserId" />
                                                <label class="form-label" for="name">Name Task</label>
                                                <input type="text" asp-for="@Model.Name" required name="name" id="name" class="form-control form-control-lg" />
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="description">Description</label>
                                                <input type="text" asp-for="@Model.Description" required name="description" id="description" class="form-control form-control-lg" />
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="date">DeadLine</label>
                                                <input type="date" asp-for="@Model.Date" required name="date" id="date" class="form-control form-control-lg" />
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block">Add Task</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>*@